<div id="user-list-title">
  <h2>Users</h2>
</div>
<div id="homepage">
  <div id="user-profile" *ngFor="let user of users">
    <table>
      <td id="profile-pic">
        <tr>
          <td><img src="{{ user.profileImage }}" /></td>
        </tr>
      </td>
      <td>
        <tr>
          <td id="user-label">UserID: </td>
          <td id="user-content"><a routerLink="/users/{{ user.id }}" >{{ user.id }}</a></td>
        </tr>
        <tr>
          <td id="user-label">Username: </td>
          <td id="user-content">{{ user.username }}</td>
        </tr>
      </td>
    </table>
  </div>
</div>





