#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-height: 200px;
    max-width: 200px;
    vertical-align: middle;    
}

a {
    font-weight: inherit;
    text-decoration: initial;
}

 #user-list-title {
    background-color: white;
    position: fixed;
    text-align: center;
    margin: 0;
    width: 100%;
    top: 170px;
    left: 0;
    z-index: 50;
}

#homepage {
    background-color: white;
    list-style-type: none;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 65vh;
    overflow-y: scroll;
}

#user-profile {
    margin: 10px;
}

#profile-pic {
    display: contents;
    text-align: center;
}
